* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html, body, div#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "helvetica neue","microsoft yahei",arial,sans-serif;
  font-size: 16px;
  position: relative;
}

.container {
  position: relative;
  height: 100%;
  min-width: 60rem; /* 70 m 16px = 1120px */
  margin: 0 auto;
}
a {
  font-family: "Source Code Pro", sans-serif;
  text-decoration: none;
  color: #333;
}
.sidebar a.lovely {
    display: block;
    padding: .5em;
    border-radius: 1px;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

    .sidebar a.lovely > span {
      display: inline-block;
      width: 8rem;
      vertical-align: middle;
    }
  .sidebar a.lovely:before, .sidebar a.lovely:after {
      font-size: .5rem;
      display: inline-block;
      vertical-align: middle;
      content: '·';
      color: #ddd;
    }
  .sidebar a.lovely.active {
      color: #fff;
      background: #6275c7;
      border-radius: 3px
    }
  .sidebar a.lovely.active:before {
        content: '>'
      }
  .sidebar a.lovely.active:after {
        content: '<';
      }
  .sidebar a.lovely:hover {
      font-weight: normal;
      color: #fff;
      background: #414487;
      box-shadow: 0 0 3px rgba(0,100,200,0.5)
    }
  .sidebar a.lovely:hover:before, .sidebar a.lovely:hover:after {
        content: '-';
      }
  .sidebar a.lovely:active {
      box-shadow: none
    }
  .sidebar a.lovely:active:before, .sidebar a.lovely:active:after {
        content: '·';
      }
  .sidebar .person-card {
    padding: 1rem;
    text-align: center;
  }
  .sidebar .person-card h1 {
      font-size: 27px;
      font-weight: normal;
      margin: 0 0 .5rem;
    }
  .sidebar .person-card .person-info p {
        font-size: 14px;
        line-height: 1.5rem;
      }
  .sidebar .service-list {
    text-align: center;
  }
  .sidebar .service-list ul {
      padding: .5rem;
    }
  .sidebar .service-list ul li {
        margin-bottom: .35rem
      }
  .sidebar .service-list ul li:last-of-type {
          margin-bottom: 0;
        }
  .sidebar .service-list ul li.line {
          margin: 0 1.5rem .35rem;
          border-bottom: 1px solid #eee;
        }
  .sidebar .connect {
    text-align: center;
    padding: .5rem;
  }
  .sidebar .footer {
    padding: .5rem 0rem;
    font-size: 12px;
    text-align: center;
  }
  .sidebar .footer span {
      margin: 0 .5rem;
    }
  .sidebar .footer p {
      margin: 1em;
    }
