.sidebar {
  a.lovely {
    display: block;
    padding: .5em;
    border-radius: 1px;
    transition: .3s;
    cursor: pointer;
    user-select: none;

    > span {
      display: inline-block;
      width: 8rem;
      vertical-align: middle;
    }

    &:before, &:after {
      font-size: .5rem;
      display: inline-block;
      vertical-align: middle;
      content: '·';
      color: #ddd;
    }

    &.active {
      color: #fff;
      background: #6275c7;
      border-radius: 3px;

      &:before {
        content: '>'
      }
      
      &:after {
        content: '<';
      }
    }

    &:hover {
      font-weight: normal;
      color: #fff;
      background: #414487;
      box-shadow: 0 0 3px rgba(0,100,200,0.5);

      &:before, &:after {
        content: '-';
      }
    }

    &:active {
      box-shadow: none;

      &:before, &:after {
        content: '·';
      }
    }
  }

  .person-card {
    padding: 1rem;
    text-align: center;

    h1 {
      font-size: 27px;
      font-weight: normal;
      margin: 0 0 .5rem;
    }

    .person-info {
      p {
        font-size: 14px;
        line-height: 1.5rem;
      }
    }
  }

  .service-list {
    text-align: center;

    ul {
      padding: .5rem;

      li {
        margin-bottom: .35rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        &.line {
          margin: 0 1.5rem .35rem;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

  .connect {
    text-align: center;
    padding: .5rem;
  }

  .footer {
    padding: .5rem 0rem;
    font-size: 12px;
    text-align: center;

    span {
      margin: 0 .5rem;
    }

    p {
      margin: 1em;
    }
  }
}