@import '../frame.scss';

* {
  text-align: center;
}

html {
  font-size: 4vw;
  background: #f6f6f6;
}

@font-face {
  font-family: 'iconfont';  /* project id 1187315 */
  src: url('//at.alicdn.com/t/font_1187315_y735pitnuy.eot');
  src: url('//at.alicdn.com/t/font_1187315_y735pitnuy.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1187315_y735pitnuy.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1187315_y735pitnuy.woff') format('woff'),
  url('//at.alicdn.com/t/font_1187315_y735pitnuy.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1187315_y735pitnuy.svg#iconfont') format('svg');
}

.icon > i {
  font-style: normal;
  font-family: 'iconfont';
  transition: .3s;

  &.enabled {
    color: #38e;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  p {
    font-size: .75em;
    color: #666;
    margin: .25rem;

    span {
      margin: 0 .15rem;
    }

    a {
      color: #333;
      text-decoration: none;
    }
  }
}
