.search {
  padding: 1rem .6rem;

  form {
    position: relative;

    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      font-size: 1.2em;
      padding: .5em 2.4rem;
      border: 1px solid #aaa;
      border-radius: 5px;
      box-sizing: border-box;
      outline: none;
      background: #fff;
      text-align: left;

      &:focus {
        border-color: #38e;
      }
    }

    button {
      outline: none;
      border: none;
      box-sizing: border-box;
      background: transparent;
    }

    .icon {
      display: block;
      font-size: 1.6rem;
      line-height: 2.2rem;
      padding: .3rem .4rem;
      position: absolute;
      top: 0;
      color: #ccc;

      &.google {
        right: 0;
      }
    }
  }
}

.link-list {
  padding: 0 .6rem;

  ul {
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;

    & > li {
      display: block;
      width: calc(50% - 3px);
      margin-bottom: 6px;

      &:nth-child(2n+1) {
        margin-right: 6px;
      }

      & > a {
        display: block;
        font-size: .9rem;
        padding: .6rem;
        border: 1px solid #ddd;
        border-radius: 3px;
        color: #333;
        background-color: #fff;
        text-align: left;
        text-decoration: none;
        transition: .3s;

        &:hover {
          color: #fff;
          background-color: #38e;
        }
      }
    }
  }
}
