body {
  padding: 0 .75rem;
}

.search {
  margin: 1rem 0;

  form {
    position: relative;

    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      font-size: 1.2em;
      padding: .5em 2.4rem;
      border: 1px solid #aaa;
      border-radius: 5px;
      outline: none;
      background: #fff;
      text-align: left;

      &:focus {
        border-color: #38e;
      }
    }

    button {
      outline: none;
      border: none;
      box-sizing: border-box;
      background: transparent;
    }

    .icon {
      display: block;
      font-size: 1.6rem;
      line-height: 2.2rem;
      padding: .3rem .4rem;
      position: absolute;
      top: 0;
      color: #ccc;

      &.google {
        right: 0;
      }
    }
  }
}

.link-list {
  h1 {
    padding-bottom: .3rem;
    font-size: .8rem;
    font-weight: normal;
    color: #999;
    text-align: left;
  }

  ul {
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: .5rem;

    & > li {
      display: block;
      width: calc(50% - 3px);
      margin-bottom: 6px;

      &:nth-child(2n+1) {
        margin-right: 6px;
      }

      & > a {
        display: block;
        font-size: .9rem;
        padding: .4rem;
        border: 1px solid #ddd;
        border-radius: 3px;
        color: #333;
        background-color: #fff;
        text-decoration: none;
        transition: .3s;

        &:hover {
          color: #fff;
          background-color: #38e;
        }

        p {
          text-align: left;
          word-break: break-all;

          > span {
            margin-right: .5rem;
          }

          &.meta {
            margin-top: 2px;
            font-size: 10px;
            color: #aaa;
          }
        }
      }
    }
  }
}
